.post__wrapper{
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 4rem auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
}

.post{
    position: relative;
    width: 100%;
    border-radius: 2px;
    background-color: lighten(#f4f7f6,3);

    &__header{
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding: 0 1.5rem;

        .photo{
            margin-right: 1.5rem;
            display: block;
            width: 30px;
            border-radius: 50%;
        }

        .username{
            font-size: 1.2rem;
            font-weight: 500;
        }

    }

    &__image{
        position: relative;
        display: block;
        width: 100%;
        filter: brightness(50%);
        height: 300px;
        object-fit: cover;
    }
    &__title{
        padding: 2rem 1.5rem;
        font-weight: 500;
        font-size: 1.5rem;
    }

    .date{
        padding: 0 1.5rem 3rem;
        font-size: 1.2rem ;
        font-weight: 100;
    }

    .likes{
        padding: 2rem 1rem 0 1rem;
        cursor: pointer;
        position: absolute;
        color: #f4f7f6;
        z-index: 90;
        font-size: 2.5rem;
        right: 1rem;
        top: 0;
        background: none;
        transition: all 2s ease-in-out;
    }
    .liked-post svg{
        color: #FE5958;
    }
    .likes-count{
        position: absolute;
        color: #f4f7f6;
        z-index: 90;
        font-size: 1.5rem;
        right: 2.7rem;
        top: 5rem;
        font-weight: 300;
    }

    .edit{
        position: absolute;
        color: #f4f7f6;
        z-index: 90;
        font-size: 2rem;
        left: 2rem;
        top: 2rem;
        cursor: pointer;
    }
    .delete{
        position: absolute;
        color: #f4f7f6;
        z-index: 90;
        font-size: 2rem;
        right: .5rem;
        bottom: 15rem;
        cursor: pointer;
        padding: .8rem 1rem .5rem;
        border-radius: 50%;
        background-color: rgba(0,0,0,.7);
    }
}
.form__toggler{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 80;

    .button__wrap{
        position: relative;
        width: 95%;
        max-width: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        background-color: #fff;
        padding: 2rem 1rem;

        .post__add{
            font-size: 2rem;
            cursor: pointer;
            color: #FD5957;
            position: relative;
        }
    }
}